@using Garden.Views.Admin


<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Управление пользователями</a></li>
    <li class="@ManageNavPages.CompaniesNavClass(ViewContext)"><a asp-action="Companies">Управление компаниями</a></li>
    <li class="@ManageNavPages.CategoriesNavClass(ViewContext)"><a asp-action="Categories">Добавить категорию</a></li>
    <li class="@ManageNavPages.AddPlantNavClass(ViewContext)"><a asp-action="AddPlant">Добавить товар</a></li>
    <li class="@ManageNavPages.OffersNavClass(ViewContext) disabled"><a asp-action="Offers">Редактировать товары (In the future)</a></li>
</ul>

